<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">Navigation</li>

      <li class="nav-item">
        <!-- <a href="index.html" class="nav-link"> -->
        <%= link_to admin_users_path, class: "nav-link" do %>
          <i class="fas fa-tachometer-alt"></i>Users
        <% end %>
      </li>

      <li class="nav-item nav-dropdown">
        <a href="#" class="nav-link nav-dropdown-toggle">
          <i class="fas fa-th-list"></i>Layouts
          <i class="fa fa-caret-left"></i>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a href="layouts-normal.html" class="nav-link">
              <i class="icon icon-target"></i> Normal
            </a>
          </li>

          <li class="nav-item">
            <a href="layouts-fixed-sidebar.html" class="nav-link">
              <i class="icon icon-target"></i> Fixed Sidebar
            </a>
          </li>

          <li class="nav-item">
            <a href="layouts-fixed-header.html" class="nav-link">
              <i class="icon icon-target"></i> Fixed Header
            </a>
          </li>

          <li class="nav-item">
            <a href="layouts-hidden-sidebar.html" class="nav-link">
              <i class="icon icon-target"></i> Hidden Sidebar
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>